@media print {
  body {
    max-height: 11in;
    max-width: 8.5in;
    padding: 0;
    overflow: hidden;
  }

  button, select {
    display: none;
  }

  .grid {
    margin-left: -0.2in;
    margin-top: -0.25in;
  }

  .avery5164 {
    margin-top: 0;
    border: none;
  }

  .toggleVisible {
    display: none;
  }
}
body {
  font-family: "roboto-condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222;
  padding: 24px;
}

.label {
  box-sizing: border-box !important;
}

/* (A) TOGGLE BUTTON CONTAINER */
label.tog {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
  /* (A1) DIMENSIONS */
  display: block;
  width: 40px;
  height: 20px;
  /* (A2) COSMETICS */
  border: 5px solid #cacaca;
  background: #cacaca;
  cursor: pointer;
}

/* (B) "INNER SWITCH" */
label.tog::before {
  /* (B1) DIMENSIONS */
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  /* (B2) COSMETICS */
  background: #fff;
}

/* (C) TOGGLE MECHANISM */
/* (C1) HIDE CHECKBOX */
input.tog {
  display: none;
}

/* (C2) CHANGE SWITCH POSITION */
input.tog:checked + label.tog::before {
  position: relative;
  left: 50%;
}

/* (C3) CHANGE COLOR */
input.tog:checked + label.tog {
  border: 5px solid #2285f5;
  background: #2285f5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, 3.3in);
  max-width: 8.17in;
}

.avery5164 {
  position: relative;
  margin-top: 24px;
  width: 4in;
  max-width: 4in;
  height: 3.3in;
  max-height: 3.3in;
  padding: 0.125in;
}
.avery5164:hover {
  outline: auto;
}
.avery5164 .mask.visible {
  position: absolute;
  top: 0;
  left: 0;
  width: 4in;
  height: 3.3in;
  background-color: white;
  z-index: 100;
}
.avery5164 header {
  height: 0.5in;
  max-height: 0.5in;
}
.avery5164 header img {
  height: 100%;
  max-width: 100%;
}
.avery5164 hr.divider {
  height: 1px;
  border: none;
  background-color: #aaa;
}
.avery5164 table {
  width: 100%;
  border-collapse: collapse;
  vertical-align: top;
}
.avery5164 table tr.date td {
  padding-bottom: 0.0875in;
}
.avery5164 table td {
  vertical-align: top;
}
.avery5164 table td input, .avery5164 table td textarea {
  width: 100%;
  max-width: 100%;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  overflow: hidden;
}
.avery5164 table td input:hover, .avery5164 table td textarea:hover {
  background-color: rgba(200, 200, 200, 0.25);
}
.avery5164 table td input:focus, .avery5164 table td textarea:focus {
  border: 1px solid #999;
}
.avery5164 table td textarea {
  resize: none;
}
.avery5164 table td:nth-child(1) {
  width: 0.5in;
  font-size: 8pt;
  text-align: right;
  padding-top: 0.09in;
}
.avery5164 table td:nth-child(2) {
  font-size: 11pt;
  text-align: left;
  padding-left: 0.125in;
}
